<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.comicsbook.app" version="1.0.3" android-versionCode="10003" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>Comicsbook</name>
    <description>
        Comicsbook.ru offline meme archive.
    </description>
    <author email="dev@comicsbook.ru" href="http://comicsbook.ru">
        Comicsbook Team
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#2b587a" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="android">
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>
        <config-file target="AndroidManifest.xml" parent="/*" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" tools:node="replace" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
        </config-file>
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="35" />
    </platform>
    <plugin name="cordova-plugin-statusbar" />
</widget>
